.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  @include tablet {
    flex-direction: row;
  }

  &__links {
    display: flex;
    flex-direction: row;

    @include tablet {
      border-right: 1px solid $ca-copy-10;
      flex-basis: 20%;
      flex-direction: column;
      max-width: 200px;
      min-width: 200px;
    }

    // TODO: create styled component for anchor.
    > a {
      border-bottom: 1px solid $ca-copy-10;
      color: $ca-copy;
      font-size: 14px;
      padding: 1rem;
      text-decoration: none;
      width: 50%;

      &.active {
        border-bottom: 2px solid $ca-accent-color;
        color: $ca-accent-color;
        font-weight: bold;
      }

      @include tablet {
        font-size: 18px;
        width: auto;
      }
    }
  }

  &__screens {
    @include tablet {
      flex-basis: 80%;
      margin-left: 2rem;
    }
  }
}
