.site-header {
  align-items: center;
  background-color: $ca-white;
  box-shadow: 0 0 0.25em $ca-box-shadow;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: relative;
  width: 100%;
  z-index: map-get($zindex, header);

  > h2 {
    color: $ca-accent-color;
  }
}
