.list-consent {
  margin: 1rem;

  @include tablet {
    width: auto;
  }

  @include desktop {
    margin: 0;
    max-width: 1024px;
    width: auto;
  }

  > h2 {
    margin-bottom: 2rem;
  }

  > table {
    margin-bottom: 2rem;
  }

  // Target the pagination element from Material UI.
  > nav {
    display: flex;
    justify-content: right;
  }
}
