// Base color definitions
// black
$ca-black: #000;
$ca-copy: #2b3547;
$ca-copy-10: rgba(187, 199, 222, 0.8);

// accent
$ca-accent-color: #007487;

// grey
$ca-grey: #eaeaec;
$ca-white: #fff;

// Buttons
$ca-button-primary: $ca-accent-color;
$ca-button-secondary: rgba(0, 117, 137, 0.1);

// Box shadows
$ca-box-shadow: rgba(0, 0, 0, 0.15);
